@charset "utf-8";

#all_wrap{
	width:1400px; 
    height:auto; 
    margin:30px auto;
    text-align:justify;
    word-spacing:0.2em;
    padding-right:1em;
    padding-left:1em;
    box-sizing:border-box;
    margin-bottom:200px;    
}
#all_wrap h2{
	font-weight:bold;
	font-size:17px;
	margin-bottom:15px;
}
#all_wrap hr{
	margin-bottom:15px;
}
#all_wrap p{
	font-size:14px;
	margin-bottom:10px;
}
.clause{
	margin-bottom:20px;
	margin-top:20px;
	font-weight:bold;
	padding-left:0;
}
.clause_t{
	padding-left:1em;
}
.span{
	margin-top:10px;
	margin-bottom:10px;
    font-size:14px;
	padding-left:2em;
	display:block;
}

.clause_table{
    width:900px; 
    height:500px; 
    margin-top:20px;
    margin-bottom:20px;
    margin-left:2em;
}
.clause_table caption{
    text-align:left;
    font-size:14px;
    margin-bottom:15px;
}
.clause_table th, td{ 
    border:1px solid  #808080; 
    text-align:center; 
    vertical-align:middle;
}
.clause_table tr th{
    font-size:14px;
    font-weight:bold;
}
.clause_table tr th, .clause_table tr td{
    font-size:14px;
}
.height_size{
    padding-left:5px;
    padding-right:5px;
}
.clause_table tr th:first-child{
    padding-left:8px; 
    padding-right:8px;
}