@charset "utf-8";

/*login_total_wrap*/
#login_total_wrap{
    clear:both;
	width:100%;
	height:1080px;
	position:relative;
	min-width:1920px;
}
/*bubble_video_container*/
#bubble_video_container{
    position:absolute; top:0; bottom:0; 
    width:100%; 
    height:100%; 
    overflow:hidden;
}
.bubble_up_containter::after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;   
    background-color:#c41e15;
    opacity:0.6;
}
.bubble_up_containter::before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;   
    background-color:#c41e15;
    opacity:0.8;
}
#bubble_video_container video{
    width:auto; 
    height:auto; 
    min-width:100%; 
    min-height:100%;
}

/*login_body*/
#login_body{
    clear:both;
    width:1600px;
	height:680px; 
    position:absolute; top:50%; left:50%; z-index:3;
    transform:translate(-50%,-50%);
    z-index:3;
    margin:0 auto;
    background-color:#ffffff;
}

/*left*/
#login_members{
    width:800px;
    height:680px;
    float:left;
}
#login_members fieldset{
    width:700px;
    height:400px;
    margin-left:50px;
    margin-top:135px;
    position:relative;
}
#login_members fieldset legend{
    margin-left:329px;
    width:42px;
    height:15px;
    line-height:15px;
    font-size:15px;
    margin-bottom:60px;
}

.id_wrap{
    width:700px;
    height:90px;
    position:relative;
}
.id_wrap label{
    width:81px;
    height:13px;
    font-size:13px;
    display:block;
    line-height:13px;
    position:absolute; top:19px; left:105px;
}
#member_id{
    width:484px;
    height:40px;
    position:absolute; bottom:8px; left:50%;
    transform:translate(-50%,0);
    border:1px solid rgba(0,0,0,0.1);
}
#member_id:focus{
    border:1px dotted #c41e15;
    outline:none;
}
.pw_wrap{
    width:700px;
    height:90px;
    position:relative;
}
.pw_wrap label{
    width:81px;
    height:13px;
    font-size:13px;
    display:block;
    line-height:13px;
    position:absolute; top:19px; left:105px;
}
#member_pwd{
    width:484px;
    height:40px;
    position:absolute; bottom:8px; left:50%;
    transform:translate(-50%,0);
    border:1px solid rgba(0,0,0,0.1);
}

#member_pwd:focus{
    border:1px dotted #c41e15;
    outline:none;
}
.find_wrap{
    width:700px;
    height:60px;

    position:absolute; bottom:78px; left:50%;
    transform:translate(-50%,-0);
}
.find_wrap li{
    width:70px;
    height:12px;
    float:left;
    margin-left:276px;
    transition:all 0.3s ease;
}
.find_wrap li:nth-child(1){
    border-right:1px solid #dddddd;
    padding-right:7px;
}
.find_wrap li:nth-child(2){
    margin-left:15px;
}
.find_wrap li a{
    font-size:12px;
    text-align:center;
    line-height:12px;
    display:block;
    color:#666666;
}
.find_wrap li a:hover{
    color:#333333;
}
.login_sub{
    width:700px;
    height:50px;
    position:absolute; bottom:0; left:50%;
    transform:translate(-50%,-0);
}
.login_sub input{
    width:330px;
    height:50px;
    position:absolute; bottom:0; left:50%;
    transform:translate(-50%,-0);
    background-color:#000000;
    border:none;
    color:#ffffff;
    cursor:pointer;
    transition:all 0.4s ease;
}
.login_sub input:hover{
    background-color:rgba(0,0,0,0.8);
    font-size:14px;
}

/*right*/
#join_wrap{
    width:800px;
    height:680px;
    float:right;
}
#join_wrap div{
    width:800px;
    height:680px;
    position:relative;
}
#join_wrap div p img{
    position:absolute; top:40%; left:50%;
    transform:translate(-50%,-50%);
}
#join_wrap div form > input{
    position:absolute; top:75%; left:50%;
    transform:translate(-50%,-50%);
    width:330px;
    height:50px;
    border:none;
    background-color:#000000;
    color:#ffffff;
    cursor:pointer;
    transition:all 0.3s ease;
	font-weight:normal;
	font-size:13px;
	line-height:50px;
	text-align:center;
	letter-spacing:0.1em;
}
#join_wrap div form > input:hover{
    background-color:rgba(0,0,0,0.8);
    font-size:14px;
}