@charset "utf-8";


#all{width:1400px; 
    height:auto; 
    margin:30px auto;
    text-align:justify;
    word-spacing:0.2em;
    padding-right:1em;
    padding-left:1em;
    box-sizing:border-box;
    margin-bottom:200px;    
}
#all h2{
	font-weight:bold;
	font-size:17px;
	margin-bottom:15px;
}
#all hr{
	margin-bottom:15px;
}
#d_coke,#f_coke,#h_coke,#i_coke,#n_coke,#p_coke,#t_coke,#z_coke,#dd,#ee,#gg{
    width:1400px;
    margin-top:30px; 
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
    
}
.a_coke{
    font-size:14px;
}
.a_coke span{
    font-weight:bold;
    color:#a2171e;
    font-size:14px;    
}
.a_ol{
    width:1400px;
    margin-top:30px; 
    margin-bottom:30px; 
}
.a_ol li{
    font-size:14px;
    text-indent:1em;
    line-height:2em;
    display:block;
}
.a_ol li span{
    padding-left:9px;
    font-size:14px;
}
#num1{
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
    display:block;
}
.a_ol10 a{
	display:block;
	font-size:14px;
	margin-bottom:3px;
}
.a_ol li:hover,.a_ol li:hover span, .a_ol li:hover a{
    font-weight:bold;
    cursor:pointer;
}
.num1_txt{
    text-indent:1em;
    font-size:14px;
}
.b_coke{
    font-size:15px;
    margin-left:1em;  
    margin-bottom:15px;
}
.b_coke caption{
    color:transparent;
    font-size:0;
    margin-bottom:15px;
}
.b_coke tr{
    clear:both;
}
.b_coke th,.b_coke td{
    border:1px solid #666666;
    padding:10px; 
    font-size:14px;
    text-align:center;
}
.b_coke tr th{
    font-weight:bold;
}
.b_coke tr th:nth-of-type(1){
    width:270px;
}
.c_coke{
    margin-top:10px;
    margin-bottom:30px;
    font-size:14px;
    text-indent:1em;
}

.e_coke,.g_coke,.j_coke,.k_coke,.l_coke,.m_coke,.o_coke,.q_coke,.s_coke,.u_coke,.v_coke,.w_coke,.x_coke,.y_coke,.aa,.bb,.cc,.ff,.hh{
    font-size:14px;
    padding-left:1em;
}
.j_coke{
    margin-top:20px;
    margin-bottom:10px; 
    font-weight:bold;
}
.l_coke{
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
}

.h_ol li{
    font-size:14px;
    display:block;
    padding-left:1em;
}

.r_coke{
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
    text-indent:1em;
    font-size:14px;
}
.r_table{
    font-size:15px;
    margin-left:1em;  
    margin-bottom:15px;
}
.r_table caption{
    font-size:14px;
    margin-bottom:15px;
    text-align:left;
}
.r_table th,.r_table td{
    border:1px solid #666666;
    padding:10px; 
    font-size:14px;
    text-align:center;
}
.r_table tr th{
    font-weight:bold;
}
#company{
   vertical-align:middle;   
}
.u_coke{
    margin-bottom:10px;
}
.v_ul li{
    font-size:13px;
    display:block;
    padding-left:2.8em;
    margin-bottom:3px;
    margin-top:3px;    
}
.w_coke{
    margin-top:10px;
}
.aa{
    margin-bottom:10px;
}
.bb_ul li{
    font-size:13px;
    display:block;
    padding-left:2.8em;
    margin-bottom:3px;
    margin-top:3px;  
}
.cc{
    margin-top:10px;
}

.cc_ul{
    font-size:13px;
    display:block;
    padding-left:2.8em;
    margin-bottom:3px;
    margin-top:3px;  
}
.ff{
    margin-bottom:10px;
}

.ff_ol li{
    padding-left:2.8em;
    margin-bottom:3px;
    margin-top:3px; 
}
.ff_ol li a{
    font-size:14px;
    display:inline-block;
}
.ff_ol li a:hover{
 text-decoration:underline;
}
.hh{
	margin-bottom:10px;
}
.hh_ol_1 li{
   padding-left:2.8em;
    margin-bottom:3px;
    margin-top:3px; 
}
.hh_ol_1 li:nth-child(1){
	font-weight:bold;
}

.hh_ol_2 li{
   padding-left:2.8em;
    margin-bottom:3px;
    margin-top:3px; 
}
.hh_ol_2 li:nth-child(1){
	font-weight:bold;
	margin-top:10px;
}