@charset "utf-8";
html,body{height:100%;}

#notice{
    width:100%;
    height:35px; 
    text-align:center;
    line-height:35px;
    font-size:12px; 
    background-color:rgba(0,0,0,0.7);
    color:#ffffff;
}

#notice a{
    color:#ffffff;
    margin-left:3px;
    font-size:12px;
	transition:color 0.2s ease;
}
#notice a:hover{
	color:rgba(255,255,255,0.8);
}

/*스크롤 상단메뉴 고정 */
#cocacola_headtop.fixed_menu{
    width:100%; 
    min-width:1920px;
    height:130px;    
    position:fixed; left:0; top:0; z-index:100;
    transition:background 0.5s ease;
    
}
#cocacola_top{
    width:1920px; height:130px; margin:0 auto;
}
/*cocacola_headtop*/
#cocacola_headtop{
    width:100%; 
    height:130px; 
    margin:0 auto; 
    min-width:1920px;
    position:relative;
}
#cocacola_top{
    width:1920px; 
    height:130px;
    display:flex; 
    flex-direction:row; 
    flex-wrap:wrap; 
    align-content:space-around; 
    justify-content:space-around; 
    align-items:center; 
    margin:0 auto;
}


/*cocacola_left 상단 왼쪽*/
#cocacola_left{
    flex-grow:1; 
    display:flex; 
    justify-content:flex-end;
}
#cocacola_left h1{
    width:120px; 
    height:120px;
}
#cocacola_left h1 a img{
    transform:rotate(360deg);
    transition:all 1s;
}
#cocacola_left h1:hover a img{
    transform:rotate(-360deg);
}

/*cocacola_menu_navi 메뉴*/
#cocacola_menu_navi{
    flex-grow:2; 
    display:flex; 
    justify-content:center;
}
#cocacola_menu_navi ul li{
    float:left; 
    width:120px; 
    margin-left:10px;
}
#cocacola_menu_navi ul li:nth-child(1){
    margin-left:0;
}
#cocacola_menu_navi ul li a{
    display:block; 
    color:#333333; 
    font-size:18px; 
    transition:all 0.1s ease-in-out;
    line-height:50px; 
    font-weight:bold;	
    text-align:center;
}
#cocacola_menu_navi ul li:hover a{
    transform:scale(0.9);
}


/*cocacola_right 오른쪽 영역*/
#cocacola_right{
    height:130px; 
    flex-grow:1; 
    display:flex; 
    justify-content:flex-start; 
    align-items:center;
}


/*검색 슬라이드 다운 - 업*/
.login_join a,.mypage a{  
    font-size:18px; 
    text-align:center; 
    line-height:50px; 
    font-weight:bold; 
    text-align:center; 
    display:block; 
    margin-left:20px; 
    transition:all 0.1s ease-in-out; 
    height:45px; 
    width:60px;

}
.login_join a{
    margin-left:0;
}

.login_join:hover a,.mypage:hover a{
    transform:scale(0.9);
}

.cocacola_world i{    
    cursor:pointer;
    text-align:center; 
    line-height:50px; 
    display:block; 
 	margin-top:3px;
    transition:all 0.1s ease-in-out; 
    cursor:pointer; 
    height:45px; 
    width:60px;
}

.search i:hover ,.cocacola_world i:hover{
    transform:scale(0.9);
}   

.search{
    margin-top:54px;
}
.search  i{
    cursor:pointer;
    text-align:center; 
    line-height:50px; 
    display:block; 
    margin-top:3px;
    transition:all 0.1s ease-in-out; 
    cursor:pointer; 
    height:45px; 
    width:60px;
    padding-bottom:50px;
  
}
.search > p{
    background-color:rgba(255,255,255,0.9); 
    position:absolute;
    top:130px; right:0; width:100%; 
    height:50px; 
    z-index:100;
}

.search > p > span{
    width:1920px; 
    height:50px; 
    display:block; 
    position:relative; 
    margin:0 auto;
}

/*검색 버튼*/
#coke_search{
    width:850px; 
    height:42px; 
    position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); 
    border:none; 
    outline:none; 
    text-align:center; 
    color:#333333;
    border:1px solid rgba(0,0,0,0.2);
    box-sizing:border-box;
}
#search_button{
    position:absolute; top:50%; right:405px; transform:translate(-50%,-50%); 
    width:130px; 
    height:42px; 
    border:none; 
    background-color:#000000; 
    color:#ffffff; 
    cursor:pointer; 
    transition:all 0.2s;
}
#search_button:hover{
    background-color:#333333;
}
    
/*드롭다운 */
.cocacola_world{
    height:45px; 
    width:60px; 
}

#world_coke_wrap{
    width:1920px; 
    height:1300px; 
    position:absolute; top:130px; left:50%; 
    z-index:100; 
    transform:translate(-50%,0);
}
#world_coke_wrap ul{
    width:200px; 
    height:100%; 
    float:left; 
    margin-top:30px; 
    margin-left:100px; 
    text-align:center; 
    z-index:100;
}
#world_coke_wrap ul li{
    line-height:2.5em; 
    width:200px; 
    height:30px; 
}
#world_coke_wrap ul li a{
    width:200px; 
    height:30px; 
    display:block; 
    line-height:2.5em; 
    font-size:12px; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden;
}
#world_coke_wrap ul li a:hover{
    color:#000000; 
    text-decoration:underline;
}
.title{
    font-weight:bold; 
    margin-bottom:10px;
}

.back{
    width:100%; 
    min-width:1920px;
    height:1100px; 
    position:absolute; top:130px; left:0; 
    z-index:100; 
    background-color:rgba(255,255,255,0.9);
    border:1px solid rgba(225,225,225,0.5);
    box-sizing:border-box;
    border-top:none;
    
}