@charset "utf-8";

#cocacola_videos_headline{
	clear:both;
	width:100%; 
	height:auto;
	position:relative;
	margin-bottom:100px;
}
#cocacola_videos_headline img{
	width:100%; 
	height:auto; 
	vertical-align:top;
	min-width:1920px;
}

#videos_menu_wrap{
	clear:both;
	width:100%;
	height:30px;
	margin-bottom:100px;
	min-width:1920px;
}
#videos_menu{
	width:1920px;
	height:30px;
	text-align:center;
	line-height:30px;
	margin:0 auto;   
}
#videos_menu li{
	display:inline-block;
	font-size:14px;	
	margin:0 10px;
	cursor:pointer;
}
.menu_all{
	position:relative;
	width:70px;
	height:30px;
	line-height:30px;
}
.menu_brand{
	position:relative;
	width:90px;
	height:30px;
	line-height:30px;
}
.menu_culture{
	position:relative;
	width:100px;
	height:30px;
	line-height:30px;
}
.menu_music{
	position:relative;
	width:80px;
	height:30px;
	line-height:30px;
}
.menu_all::before,.menu_all::after,
.menu_brand::before,.menu_brand::after,
.menu_culture::before,.menu_culture::after,
.menu_music::before,.menu_music::after{
	content:"\2022";	
	color:rgba(162,23,30,0.7);
	opacity:0;
	transition:all 0.4s ease;
}
.menu_all::before,
.menu_brand::before,
.menu_culture::before,
.menu_music::before{
	position:absolute; top:-1px; left:10px;
}
.menu_all::after,
.menu_brand::after,
.menu_culture::after,
.menu_music::after{
	position:absolute; top:-1px; right:10px;
}
.menu_all:hover::before,
.menu_brand:hover::before,
.menu_culture:hover::before,
.menu_music:hover::before{
	position:absolute; top:-1px; left:0;
	opacity:1;
}
.menu_all:hover::after,
.menu_brand:hover::after,
.menu_culture:hover::after,
.menu_music:hover::after{
	position:absolute; top:-1px; right:0;
	opacity:1;
}


#videos_total_wrap{
	width:100%;
	height:100%;
	min-width:1920px;
	min-height:3950px;
}
/*videos_play_wrap*/
#videos_play_wrap{
	clear:both;
	width:1600px;	
	height:3750px;
	margin:100px auto 200px auto;
}
#play_container01,#play_container02,#play_container03,
#play_container04,#play_container05,#play_container06,#play_container07{
	width:1600px;
	height:450px;
	margin-bottom:100px;
}
#play_container01 iframe,#play_container02 iframe,#play_container03 iframe,
#play_container04 iframe,#play_container05 iframe,#play_container06 iframe,
#play_container07 iframe{
	width:800px;
	height:450px;
	float:left;
}
.play01_txt,.play02_txt,.play03_txt,.play04_txt,
.play05_txt,.play06_txt,.play07_txt{
	float:right;
    width:700px;
    height:450px;
    margin-left:20px;
    text-align:center;
}
.play01_txt p:nth-child(1),.play02_txt p:nth-child(1),
.play03_txt p:nth-child(1),.play04_txt p:nth-child(1),
.play05_txt p:nth-child(1),.play06_txt p:nth-child(1),
.play07_txt p:nth-child(1){
    width:700px;
    height:20px;
    font-weight:bold;
    font-size:20px;
    line-height:20px;
    margin-top:15px;
    margin-bottom:95px;   
}
.play01_txt p:nth-child(2),.play01_txt p:nth-child(3),
.play02_txt p:nth-child(2),.play02_txt p:nth-child(3),
.play03_txt p:nth-child(2),.play03_txt p:nth-child(3),
.play04_txt p:nth-child(2),.play04_txt p:nth-child(3),
.play05_txt p:nth-child(2),.play05_txt p:nth-child(3),
.play06_txt p:nth-child(2),.play06_txt p:nth-child(3),
.play07_txt p:nth-child(2),.play07_txt p:nth-child(3){
    height:95px;
    font-size:15px;  
}
.play01_txt p:nth-child(4) span,
.play02_txt p:nth-child(4) span,
.play03_txt p:nth-child(4) span,
.play04_txt p:nth-child(4) span,
.play05_txt p:nth-child(4) span,
.play06_txt p:nth-child(4) span,
.play07_txt p:nth-child(4) span{
    height:14px;
    font-size:14px;
    text-align:center;
    line-height:14px;    
    cursor:pointer;
    margin-left:10px;
    margin-top:50px;
    color:rgba(51,51,51,0.8);
    transition:all 0.2s ease;
}
.play01_txt p:nth-child(4) span:first-child,
.play02_txt p:nth-child(4) span:first-child,
.play03_txt p:nth-child(4) span:first-child,
.play04_txt p:nth-child(4) span:first-child,
.play05_txt p:nth-child(4) span:first-child,
.play06_txt p:nth-child(4) span:first-child,
.play07_txt p:nth-child(4) span:first-child{
    margin-left:0;
}
.play01_txt p:nth-child(4) span:hover,
.play02_txt p:nth-child(4) span:hover,
.play03_txt p:nth-child(4) span:hover,
.play04_txt p:nth-child(4) span:hover,
.play05_txt p:nth-child(4) span:hover,
.play06_txt p:nth-child(4) span:hover,
.play07_txt p:nth-child(4) span:hover{
    color:#333333;
}
.play01_txt p:nth-child(5),
.play02_txt p:nth-child(5),
.play03_txt p:nth-child(5),
.play04_txt p:nth-child(5),
.play05_txt p:nth-child(5),
.play06_txt p:nth-child(5),
.play07_txt p:nth-child(5){
    width:60px;
    height:15px;
    margin-top:80px;
    position:relative;
    color:rgba(51,51,51,0.8);
    margin-left:310px;

}
.play01_txt p:nth-child(5) a,
.play02_txt p:nth-child(5) a,
.play03_txt p:nth-child(5) a,
.play04_txt p:nth-child(5) a,
.play05_txt p:nth-child(5) a,
.play06_txt p:nth-child(5) a,
.play07_txt p:nth-child(5) a{
    width:60px;
    height:15px;
    line-height:14px;
    display:block;
    font-size:15px;
}
.play01_txt p:nth-child(5)::after,.play01_txt p:nth-child(5)::before,
.play02_txt p:nth-child(5)::after,.play02_txt p:nth-child(5)::before,
.play03_txt p:nth-child(5)::after,.play03_txt p:nth-child(5)::before,
.play04_txt p:nth-child(5)::after,.play04_txt p:nth-child(5)::before,
.play05_txt p:nth-child(5)::after,.play05_txt p:nth-child(5)::before,
.play06_txt p:nth-child(5)::after,.play06_txt p:nth-child(5)::before,
.play07_txt p:nth-child(5)::after,.play07_txt p:nth-child(5)::before{
	content:"\2022";	
	color:rgba(162,23,30,0.7);
	opacity:0;
	transition:all 0.4s ease;
}
.play01_txt p:nth-child(5)::before,
.play02_txt p:nth-child(5)::before,
.play03_txt p:nth-child(5)::before,
.play04_txt p:nth-child(5)::before,
.play05_txt p:nth-child(5)::before,
.play06_txt p:nth-child(5)::before,
.play07_txt p:nth-child(5)::before{
    position:absolute; top:-3px; left:10px;
}
.play01_txt p:nth-child(5)::after,
.play02_txt p:nth-child(5)::after,
.play03_txt p:nth-child(5)::after,
.play04_txt p:nth-child(5)::after,
.play05_txt p:nth-child(5)::after,
.play06_txt p:nth-child(5)::after,
.play07_txt p:nth-child(5)::after{
    position:absolute; top:-3px; right:10px;
}
.play01_txt p:nth-child(5):hover::before,
.play02_txt p:nth-child(5):hover::before,
.play03_txt p:nth-child(5):hover::before,
.play04_txt p:nth-child(5):hover::before,
.play05_txt p:nth-child(5):hover::before,
.play06_txt p:nth-child(5):hover::before,
.play07_txt p:nth-child(5):hover::before{
	position:absolute; top:-3px; left:0;
	opacity:1;
}
.play01_txt p:nth-child(5):hover::after,
.play02_txt p:nth-child(5):hover::after,
.play03_txt p:nth-child(5):hover::after,
.play04_txt p:nth-child(5):hover::after,
.play05_txt p:nth-child(5):hover::after,
.play06_txt p:nth-child(5):hover::after,
.play07_txt p:nth-child(5):hover::after{
	position:absolute; top:-3px; right:0;
	opacity:1;
}