@charset "utf-8";

/*cocacola_brand_headline*/
#cocacola_brand_headline{
	clear:both;
	width:100%; 
	height:auto;
	position:relative;
    margin-bottom:50px;
}
#cocacola_brand_headline img{
	width:100%; 
	height:auto; 
	vertical-align:top;
	min-width:1920px;
}

/*brand_product_introduction*/
#brand_product_introduction{
	clear:both;
    width:100%;
    height:100%;
    min-height:4225px;
    min-width:1920px;    
}
#brand_wrap{
	width:1600px;
	height:4025px;
    position:relative;
	margin:0 auto 200px auto;
}
#product_cocacola{
	width:485px;
	height:765px;
	position:absolute; top:0; left:0;
}
#product_wrap1{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_fanta{
	width:485px;
	height:765px;
	position:absolute; top:50px; right:0;
}
#product_wrap2{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_sprite{
	width:485px;
	height:765px;
	position:absolute; top:385px; left:557px;
}
#product_wrap3{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_jeorgia{
	width:485px;
	height:765px;
	position:absolute; top:815px; left:0;
}
#product_wrap4{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_toreta{
	width:485px;
	height:765px;
	position:absolute; top:865px; right:0;
}
#product_wrap5{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_minute{
	width:485px;
	height:765px;
	position:absolute; top:1200px; left:557px;
}
#product_wrap6{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_powerade{
	width:485px;
	height:765px;
	position:absolute; top:1630px; left:0;
}
#product_wrap7{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_schweppes{
	width:485px;
	height:765px;
	position:absolute; top:1680px; right:0;
}
#product_wrap8{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_ambasa{
	width:485px;
	height:765px;
	position:absolute; top:2015px; left:557px;
}
#product_wrap9{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_mate{
	width:485px;
	height:765px;
	position:absolute; top:2445px; left:0;
}
#product_wrap10{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_w_tea1{
	width:485px;
	height:765px;
	position:absolute; top:2495px; right:0;
}
#product_wrap11{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_canadadry{
	width:485px;
	height:765px;
	position:absolute; top:2830px; left:557px;
}
#product_wrap12{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_ades{
	width:485px;
	height:765px;
	position:absolute; top:3260px; left:0;
}
#product_wrap13{
	width:485px;
	height:765px;
	cursor:pointer; 
	background-color:#000000;
	position:relative;
}
#product_wrap1::after,
#product_wrap2::after,
#product_wrap3::after,
#product_wrap4::after,
#product_wrap5::after,
#product_wrap6::after,
#product_wrap7::after,
#product_wrap8::after,
#product_wrap9::after,
#product_wrap10::after,
#product_wrap11::after,
#product_wrap12::after,
#product_wrap13::after{
	content:"";
	background-color:rgba(0,0,0,0.7); 
	position:absolute; top:0; right:0; bottom:0; left:0; 
	opacity:0;
	z-index:2;
	transition:all 0.2s ease;
}
#product_wrap1:hover::after,
#product_wrap2:hover::after,
#product_wrap3:hover::after,
#product_wrap4:hover::after,
#product_wrap5:hover::after,
#product_wrap6:hover::after,
#product_wrap7:hover::after,
#product_wrap8:hover::after,
#product_wrap9:hover::after,
#product_wrap10:hover::after,
#product_wrap11:hover::after,
#product_wrap12:hover::after,
#product_wrap13:hover::after{
	opacity:0.9;
}
#product_wrap1 div,
#product_wrap2 div,
#product_wrap3 div,
#product_wrap4 div,
#product_wrap5 div,
#product_wrap6 div,
#product_wrap7 div,
#product_wrap8 div,
#product_wrap9 div,
#product_wrap10 div,
#product_wrap11 div,
#product_wrap12 div,
#product_wrap13 div{
	width:485px;
	height:765px;
	position:absolute; left:50%; top:50%;
	transform:translate(-50%,-50%); width:485px;
	text-align:center;
	opacity:0;
	z-index:3;
	transition:all 0.3s ease-in;
}
#product_wrap1:hover div,
#product_wrap2:hover div,
#product_wrap3:hover div,
#product_wrap4:hover div,
#product_wrap5:hover div,
#product_wrap6:hover div,
#product_wrap7:hover div,
#product_wrap8:hover div,
#product_wrap9:hover div,
#product_wrap10:hover div,
#product_wrap11:hover div,
#product_wrap12:hover div,
#product_wrap13:hover div{
	opacity:1;
}
#product_wrap1 div p,
#product_wrap2 div p,
#product_wrap3 div p,
#product_wrap4 div p,
#product_wrap5 div p,
#product_wrap6 div p,
#product_wrap7 div p,
#product_wrap8 div p,
#product_wrap9 div p,
#product_wrap10 div p,
#product_wrap11 div p,
#product_wrap12 div p,
#product_wrap13 div p{
	color:#ffffff;
	width:485px;
	height:400px;
	color:#ffffff;
	font-size:17px;
	text-align:center;
	position:absolute; left:50%; top:50%;
	transform:translate(-50%,-50%);
	letter-spacing:0.1em;
	line-height:2em;
}
#product_wrap1 div p strong,
#product_wrap2 div p strong,
#product_wrap3 div p strong,
#product_wrap4 div p strong,
#product_wrap5 div p strong,
#product_wrap6 div p strong,
#product_wrap7 div p strong,
#product_wrap8 div p strong,
#product_wrap9 div p strong,
#product_wrap10 div p strong,
#product_wrap11 div p strong,
#product_wrap12 div p strong,
#product_wrap13 div p strong{
	width:485px;
	height:25px;
	font-size:22px;
	color:#ffffff;
	display:block;
	margin-bottom:80px;
	text-align:center;
	line-height:26px;
	font-style:italic;
    font-weight:bold;
}
#product_wrap1 div a,
#product_wrap2 div a,
#product_wrap3 div a,
#product_wrap4 div a,
#product_wrap5 div a,
#product_wrap6 div a,
#product_wrap7 div a,
#product_wrap8 div a,
#product_wrap9 div a,
#product_wrap10 div a,
#product_wrap11 div a,
#product_wrap12 div a,
#product_wrap13 div a{
	display:block;
	border:1px solid #ffffff; 
	width:150px;
	height:50px;
	margin:0 auto;
	text-align:center;
	line-height:50px;
	font-size:16px;
	color:#ffffff;
	position:absolute; left:50%; bottom:100px;
	transform:translate(-50%,-50%); 
	opacity:0;
	transition:all 0.5s ease;
}
#product_wrap1:hover div > a,
#product_wrap2:hover div > a,
#product_wrap3:hover div > a,
#product_wrap4:hover div > a,
#product_wrap5:hover div > a,
#product_wrap6:hover div > a,
#product_wrap7:hover div > a,
#product_wrap8:hover div > a,
#product_wrap9:hover div > a,
#product_wrap10:hover div > a,
#product_wrap11:hover div > a,
#product_wrap12:hover div > a,
#product_wrap13:hover div > a{
	transition-delay:0.5s;
	opacity:1;
}
#product_wrap1 div > a:hover,
#product_wrap2 div > a:hover,
#product_wrap3 div > a:hover,
#product_wrap4 div > a:hover,
#product_wrap5 div > a:hover,
#product_wrap6 div > a:hover,
#product_wrap7 div > a:hover,
#product_wrap8 div > a:hover,
#product_wrap9 div > a:hover,
#product_wrap10 div > a:hover,
#product_wrap11 div > a:hover,
#product_wrap12 div > a:hover,
#product_wrap13 div > a:hover{
	font-size:14px;
	transition:all 0.2s;
        border-color:rgba(225,225,225,0.5);
}
