@charset "utf-8";

/*coke_story_headline*/
#coke_story_headline{
    clear:both;
	width:100%; 
	height:auto;
	margin-bottom:100px;
}
#coke_story_headline img{
	width:100%; 
	height:auto; 
	vertical-align:top;
	min-width:1920px;
}

/* coke_story_menu_wrap */
#coke_story_menu_wrap{
	clear:both;
	width:100%;
	height:auto;
    overflow:hidden;
	margin-bottom:100px;
	min-width:1920px;
    position:relative;
}
#coke_story_menu{
	width:100%;
	overflow:hidden;
	text-align:center;
	line-height:30px;
	margin:0 auto;   
}
#coke_story_menu li{
	display:inline-block;
	font-size:14px;	
	margin:0 10px;
	cursor:pointer;    
}
.menu_history{
	position:relative;
	width:110px;
	height:30px;
	line-height:30px;
}
.menu_global{
	position:relative;
	width:135px;
	height:30px;
	line-height:30px;
}
.menu_brand{
	position:relative;
	width:130px;
	height:30px;
	line-height:30px;
}
.menu_history::before,.menu_history::after,
.menu_global::before,.menu_global::after,
.menu_brand::before,.menu_brand::after{
	content:"\2022";	
	color:rgba(162,23,30,0.7);
	opacity:0;
	transition:all 0.4s ease;
}
.menu_history::before,
.menu_global::before,
.menu_brand::before{
	position:absolute; top:-1px; left:10px;
}
.menu_history::after,
.menu_global::after,
.menu_brand::after{
	position:absolute; top:-1px; right:10px;
}
.menu_history:hover::before,
.menu_global:hover::before,
.menu_brand:hover::before{
	position:absolute; top:-1px; left:0;
	opacity:1;
}
.menu_history:hover::after,
.menu_global:hover::after,
.menu_brand:hover::after{
	position:absolute; top:-1px; right:0;
	opacity:1;
}

/*history_wrap*/
#history_wrap{
	clear:both;
	width:100%;
	height:100%;
	min-width:1920px;
}
#history_container{
	width:1600px;
	height:9100px;
	margin:0 auto;	
}
#history_left{
	width:800px;
	height:900px;
	float:left;
	position:relative;
	box-sizing:border-box;
	transition:opacity 0.3s ease-in-out;

}
#history_left h1{
	width:600px;
	height:55px;
	font-size:55px;
	line-height:55px;
	font-weight:bold;
	font-style:italic;
	letter-spacing:0.2em;
	position:absolute; top:395px;left:0;
}
#history_left p{
	width:600px;
	height:20px;
	font-size:17px;
	line-height:17px;
	letter-spacing:0.1em;
	position:absolute; top:550px;left:0;
}
#history_right{
	width:800px;
	height:auto;
	float:right;
	margin-bottom:200px;
/*	overflow:hidden;*/
}
#history_1880, #history_1900,#history_1910,#history_1920,
#history_1930,#history_1940,#history_1950,#history_1960,
#history_1970,#history_1980,#history_1990,#history_2000,
#history_2010{
    position:relative;
    height:698px;
}
.history_1880_title h1,.history_1910_title h1,.history_1930_title h1,
.history_1950_title h1,.history_1970_title h1,.history_1990_title h1,
.history_2010_title h1{
    width:350px;
	height:130px;
	font-size:130px;
	line-height:130px;
	font-weight:bold;
    color:#000000;
    text-shadow:1px 15px 50px  rgba(225,225,225,0.7);
	position:absolute; top:-10px; left:0;
	z-index:10;
}
.history_1900_title h1,.history_1920_title h1,.history_1940_title h1,
.history_1960_title h1,.history_1980_title h1,.history_2000_title h1{
	width:350px;
	height:130px;
	font-size:130px;
	line-height:130px;
	font-weight:bold;
    color:#000000;
    text-shadow:1px 15px 50px  rgba(225,225,225,0.7);
	position:absolute; top:-10px; right:0;
	z-index:10;
}
.history_1880_title p img,.history_1900_title p img,.history_1910_title p img,
.history_1920_title p img,.history_1930_title p img,.history_1940_title p img,
.history_1950_title p img,.history_1960_title p img,.history_1970_title p img,
.history_1980_title p img,.history_1990_title p img,.history_2000_title p img,
.history_2010_title p img{
	width:800px; 
	height:250px;
	position:absolute;top:78px; right:0;
}
.history_1880_title p:nth-child(3),.history_1900_title p:nth-child(3),
.history_1910_title p:nth-child(3),.history_1920_title p:nth-child(3),
.history_1930_title p:nth-child(3),.history_1940_title p:nth-child(3),
.history_1950_title p:nth-child(3),.history_1960_title p:nth-child(3),
.history_1970_title p:nth-child(3),.history_1980_title p:nth-child(3),
.history_1990_title p:nth-child(3),.history_2000_title p:nth-child(3),
.history_2010_title p:nth-child(3){
	width:400px;
	height:20px;
	font-size:17px;
	font-weight:bold;
	line-height:20px;
	position:absolute;top:374px;left:0;
	text-indent:0.8em;
}
.history_1880_year,.history_1900_year,.history_1910_year,.history_1920_year,
.history_1930_year,.history_1940_year,.history_1950_year,.history_1960_year,
.history_1970_year,.history_1980_year,.history_1990_year,.history_2000_year,
.history_2010_year{
	width:125px;
	height:180px;
	position:absolute; top:444px;left:0;
}
.history_1880_year li,.history_1900_year li,.history_1910_year li,
.history_1920_year li,.history_1930_year li,.history_1940_year li,
.history_1950_year li,.history_1960_year li,.history_1970_year li,
.history_1980_year li,.history_1990_year li,.history_2000_year li,
.history_2010_year li{
    font-size:16px;
    height:23px;
    text-align:justify;
    line-height:23px;
	text-indent:0.8em;
	margin-bottom:1px;
}
.history_1880_text,.history_1900_text,.history_1910_text,.history_1920_text,
.history_1930_text,.history_1940_text,.history_1950_text,.history_1960_text,
.history_1970_text,.history_1980_text,.history_1990_text,.history_2000_text,
.history_2010_text{
	width:670px;
	height:180px;
    line-height:185px;
	position:absolute; top:444px; left:125px;
}
.history_1880_text li,.history_1900_text li,.history_1910_text li,
.history_1920_text li,.history_1930_text li,.history_1940_text li,
.history_1950_text li,.history_1960_text li,.history_1970_text li,
.history_1980_text li,.history_1990_text li,.history_2000_text li,
.history_2010_text li{
    font-size:14px;
    height:23px;
    text-align:justify;
    line-height:23px;
	margin-bottom:3px;
}
.history_1880_year li:nth-of-type(2),.history_1880_year li:nth-of-type(3){
    margin-top:56px;
}
.history_1900_year li,.history_1910_year li,.history_1920_year li,
.history_1930_year li,.history_1940_year li,.history_1950_year li,
.history_1960_year li,.history_1970_year li,.history_1980_year li,
.history_1990_year li,.history_2000_year li,.history_2010_year li{
	margin-bottom:3px;
}
.history_1920_year li:nth-of-type(3){
	margin-top:29px;	
}
.history_1940_text li{
	margin-bottom:3px;
	height:45px;
}
.history_1940_text li:nth-of-type(2){
	height:68px;
}
.history_1940_year li:nth-of-type(2){
	margin-top:26px;
}
.history_1940_year li:nth-of-type(3){
	margin-top:46px;
}
.history_1950_year li:nth-of-type(2){
	margin-top:3px;
}

.history_1980_year li:nth-of-type(1){
	margin-bottom:29px;
}
.history_1980_year li:nth-of-type(2){
	margin-top:24px;
}
#history_1990,#history_2000{
	margin-bottom:80px;
}
.history_1990_year li:nth-of-type(1){
	margin-bottom:29px;
}
.history_1990_year li:nth-of-type(3){
	margin-bottom:29px;
}
.history_2000_year li:nth-of-type(2){
	margin-bottom:29px;
}
.history_2000_year li:nth-of-type(4){
	margin-bottom:29px;
}
.history_2010_year li:nth-of-type(1){
	margin-bottom:51px;
}
.history_2010_text li:nth-of-type(1){
	height:45px;
}
